<div class="container mt-3">
  <button class="btn btn-success" (click)="openCourseModal('add')">
    Add Course
  </button>
  <div class="students mt-3">
    <div class="row g-3">
      <div class="col-2" *ngFor="let course of courses ;let i = index">
        <div class="border">
          <div class="student-image">
            <img
              src="../../assets/images/Course-logo.jpg"
              class="bg-warning"
              alt=""
            />
          </div>
          <div class="student-name">
            <h2 class="text-center mt-3">
              <a class="btn-link" (click)="openCourseModal('edit', i)">{{ course }}</a>
            </h2>
          </div>
          <div class="delete-btn d-flex justify-content-center p-2">
            <button
              class="btn w-100 btn-danger text-center"
              (click)="openConfirmationmodal(confirmationMessage)"
            >
              Delete
            </button>
          </div>
        </div>
        <ng-template #confirmationMessage>
          <div class="modal-body">
            <h4 class="fw-bold">Delete Course</h4>
            <h4 class="mt-3">Are you sure you want to delete ?</h4>
            <div class="btns mt-4">
              <button class="btn btn-danger me-2 p-2 px-3" (click)="deleteCourse(i)">Yes</button>
              <button class="btn btn-success p-2 px-3" (click)="cancelConfirmation()">No</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
